bin/Debug/net6.0-windows/OxXMLEngine.dll
bin/Debug/net6.0-windows/OxXMLEngine.pdb
obj/Debug/net6.0-windows/OxXMLEngine.pdb
OxXMLEngine.csproj.user
obj/Debug/net6.0-windows/OxXMLEngine.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/refint/OxXMLEngine.dll
obj/Debug/net6.0-windows/OxXMLEngine.dll
obj/Debug/net6.0-windows/ref/OxXMLEngine.dll
bin/Debug/net6.0-windows/OxLibrary.dll
bin/Debug/net6.0-windows/OxLibrary.pdb
obj/Debug/net6.0-windows/OxXMLEngine.csproj.AssemblyReference.cache
bin/Debug/net6.0-windows/OxLibrary.deps.json
bin/Debug/net6.0-windows/OxLibrary.exe
bin/Debug/net6.0-windows/OxLibrary.runtimeconfig.json
bin/Debug/net6.0-windows/OxXMLEngine.deps.json
bin/Debug/net6.0-windows/OxXMLEngine.exe
bin/Debug/net6.0-windows/OxXMLEngine.runtimeconfig.json
obj
bin/Debug
